.classify {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
}
.header {
  position: relative;
  padding: .15rem .15rem 0 .15rem;
  background: white;
  /*background: rgba(255, 0, 0, 0.39);*/
}
.header-img {
  position: absolute;
  top: .2rem;
  /*left: 50%;*/
  /*margin-left: -1rem;*/
  width: 1.1rem;
  height: .5rem;
  background: url('../images/logo.png') no-repeat;
  background-size: 100%;
}
.header-img2 {
  position: absolute;
  top: .25rem;
  width: 1.2rem;
  height: .5rem;
  background: url('../images/logo.png') no-repeat;
  background-size: 100%;
}
.top {
  position: relative;
  padding: .15rem;
  border-bottom: .5px solid #cacaca;
}
.input {
  width: 70%;
  margin-left: .7rem;
  padding-left: .7rem;
  padding-right: .15rem;
  line-height: .5rem;
  font-size: .28rem;
  border: none;
  outline: none;
  background: #f1f1f1;
}
.btn-search {
  position: absolute;
  top: .155rem;
  right: .88rem;
  width: 15%;
  padding: 0 .1rem;
  font-size: .3rem;
  text-align: center;
  line-height: .5rem;
  background: #d81e06;
  color: white;
  border-radius: 3px;
}
.navi-row {
  margin: .1rem 0;
  padding: .15rem;
  position: relative;
}
.tags {
  margin: 0 .025rem;
  padding: 0 .1rem;
  color: #828282;
}
.btn-screen {
  position: absolute;
  top: .2rem;
  left: .3rem;
  width: .45rem;
  height: .45rem;
  background: url('../images/screening.png') no-repeat;
  background-size: 100%;
}
.list-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 .15rem;
}
.list-tags-item {
  width: 1rem;
  margin: .1rem;
  padding: .05rem .2rem;
  border: 1px solid #cacaca;
  border-radius: 5px;
  text-align: center;
  font-size: .2rem;
}
.list-item {
  position: relative;
  width: 100%;
  margin-bottom: .2rem;
  padding-bottom: .2rem;
  border-bottom: 1px solid #cacaca;
}
.img {
  position: absolute;
  top: .1rem;
  left: 0;
  width: 1.3rem;
  height: 1.4rem;
}
.goods-row {
  /*width: 4.4rem;*/
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: .5rem;
}
.goods-title {
  /*color: #576b95;*/
  font-size: .28rem;
}
/*.goods-subtitle {
  width: 4.4rem;
  padding-bottom: .3rem;
  font-size: .2rem;
  color: #888888;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}*/
.clicked {
  border: 1px solid #d81e06;
  border-radius: 5px;
  color: #d81e06;
}
.clicked2 {
  border-radius: 5px;
  color: white;
  background: #d81e06
}
.clearfix {
  clear: both;
}
.color-1 {
  background: #d81e06;
  color: white;
}
.color-2 { background: #f5f3f3; }
.color-3 { color: #353535; }
.color-4 { color: #888888; }
.color-5 { color: #576b95; }
.font-s03 {
  font-size: .3rem;
}
.font-s024 {
  font-size: .24rem;
}
.font-s02 {
  font-size: .2rem;
}
.bg-c {
  color: rgb(242,161,47);
  padding:0 .05rem;
  background: rgba(242,161,47,0.15);
}
.bg-c2 {
  padding:0 .05rem;
  background: rgba(51,190,133,0.15);
  color: rgb(51,190,133);
}
.bg-c3 {
  color: #59abfd;
  padding:0 .05rem;
  background: rgba(89, 171, 253, 0.15);
}
.fr {
  float: right;
}
a {
  color: #000;
  text-decoration: none;
}