.row {
  padding: .15rem;
  text-align: center;
  background: #d81e06;
  color: white;
  border-bottom: 1px solid #cacaca;
  font-size: .28rem;
}
.name {
  display: inline-block;
  vertical-align: middle;
  max-width: 2.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.list {
  padding: .15rem;
}
.list-item {
  margin-bottom: .15rem;
  padding: .15rem 0;
  border-bottom: 1px solid #cacaca;
}
.item-img {
  float: left;
}
.img {
  width: 1.3rem;
  height: 1.4rem;
}
.item-right {
  float: left;
  width: 4.5rem;
  margin-left: .15rem;
  line-height: .5rem;
}
.goods-title {
  width: 4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: .3rem;
  /*line-height: .5rem;*/
  color: #484848;
}
.author {
  width: 4rem;
  color: #808080;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: .2rem;
}
.author::before {
  content: '';
  display: inline-block;
  width: .22rem;
  height: .22rem;
  background: url('../images/icon-5.png') no-repeat;
  background-size: 100%;
}
.btn-check {
  float: right;
  margin-top: -1.1rem;
  padding: 0 .2rem;
  border: 1px solid #808080;
  border-radius: 5px;
  font-size: .24rem;
}
.bg-c {
  color: rgb(242,161,47);
  padding:0 .05rem;
  background: rgba(242,161,47,0.15);
  font-size: .2rem;
}
.bg-c2 {
  padding:0 .05rem;
  background: rgba(51,190,133,0.15);
  color: rgb(51,190,133);
  font-size: .2rem;
}
.bg-c3 {
  color: #59abfd;
  padding:0 .05rem;
  background: rgba(89, 171, 253, 0.15);
  font-size: .2rem;
}