.top-bg {
  width: 100%;
  height: 2.2rem;
  background: url('../images/apicloud-bg.png') no-repeat;
  background-size: 100%;
  position: relative;
  top: 0;
  left: 0;
}
.head-img {
  width: 1.2rem;
  height: 1.2rem;
  padding-top: .3rem;
  position: relative;
  left: 50%;
  margin-left: -.6rem;
}
.img {
  width: 100%;
  border-radius: 50%;
}
.user-title {
  margin: .4rem 1.5rem 0 1.5rem;
  text-align: center;
  font-size: .26rem;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
a {
  text-decoration: none;
  color: black;
}
.bing {
  color: white;
}
.btn-binding {
  padding: .1rem .2rem;
  /*border: 1px solid white;*/
  color: white;
  position: absolute;
  top: .15rem;
  right: .15rem;
  font-size: .25rem;
  border-radius: 5px;
  line-height: .5rem
}
.btn-binding::after {
  content: '';
  display: inline-block;
  width: .1rem;
  height: .1rem;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  transform: rotate(-45deg);
  position: relative;
  top: -.025rem;
}
.row {
  position: relative;
  padding: .2rem;
  font-size: .26rem;
  border-bottom: 1px solid #cacaca;
  line-height: .5rem;
  background: white;
  border
}
.row-2 {
  position: relative;
  padding: .2rem;
  font-size: .28rem;
  border-bottom: 1px solid #cacaca;
  line-height: .5rem;
}
.row::after {
  content: '';
  display: inline-block;
  width: .2rem;
  height: .2rem;
  border-bottom: 1px solid #808080;
  border-right: 1px solid #808080;
  transform: rotate(-45deg);
  float: right;
  margin: .14rem;
}
.icons {
  position: absolute;
  top: .25rem;
  width: .4rem;
  height: .4rem;
  vertical-align: middle;
  margin-right: .1rem;
}
.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: 1px solid #cacaca;
}
.list-item {
  width: 33%;
  margin: .2rem 0;
  text-align: center;
}
.icons-2 {
  width: 1rem;
}

.row-admin {
  position: relative;
  margin-top: .5rem;
  padding: .2rem;
  font-size: .26rem;
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
  line-height: .5rem;
  background: white;
}
.row-admin::after {
  content: '';
  display: inline-block;
  width: .2rem;
  height: .2rem;
  border-right: 1px solid #808080;
  border-bottom: 1px solid #808080;
  transform: rotate(45deg);
  float: right;
  margin-top: .1rem;
  margin-right: .15rem;
}
.navi {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: .15rem;
  background: white;
}
.navi-item {
  width: 33%;
  text-align: center;
  font-size: .26rem;
  padding: .15rem;
}
.icon-img {
  width: .6rem;
}
.content {
  width: 100%;
  height: 100%;
  background: #f2f2f2;
}

.ml-06 {
  margin-left: .5rem;
}
.clearfix {
  clear: both;
}